/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 4, 2017, 12:57:29 PM
    Author     : odwini
*/

header.oliwary_main{
    min-height: 100%;
    width:100%;
    height:100%;
    .header_cover{
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        margin: auto;
        width:100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom center;
    }
    .content{
        position: relative;
        top:35%;
        transform: translateY(-50%);
        margin: auto;
        z-index: 2;
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction:column;
        .top_row_info{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 45px;
            .delimer{
                color: #fff;
            }
            .info{
                font-family: comfortaalight;
                display:flex;
                flex-direction: row;
                justify-content:center;
                align-items: center;
                color: #fff;
                letter-spacing: 1.6px;
                font-size: 1.2rem;
                span{
                    font-family: comfortaalight;
                    color:#C4D64B;
                }
                .ico{
                    width:25px;
                    position: relative;
                    margin-right: 10px;
                    height: 25px;
                    background-size: contain;
                    background-position: center center;
                    background-repeat: no-repeat;
                }
                &:first-child{
                    margin-right: 15px;
                }
                &:last-child{
                    margin-left: 15px;
                }
            }

        }
        &_title{
            font-size: 3rem;
            font-family: comfortaabold;
            text-align: center;
            color: #fff;
            margin-bottom: 25px;
            h2{
                color: #fff;
            }
        }
        &_description{
            p{
                text-align: center;
                max-width: 500px;
                color: #fff;
                font-size: 1.1rem;
                font-family: comfortaalight;  
            }
            margin-bottom: 50px;
        }
        .action_buttons{
            display: flex;
            justify-content: space-between;
            max-width: 450px;
            width:100%;
            margin: auto;
            position: relative;
            .button_header{
                color:#f6f2b3;
                background-color: rgba(6, 11, 17, 0.6); 
                letter-spacing: 2px;
                padding: 20px 40px;
                font-family: comfortaaregular;
                font-size: 1.2rem;
                cursor:pointer;
                transition: 0.5s all;
                border-radius: 5px;
                box-sizing: border-box;
                border: 3px dotted transparent;
                text-transform: uppercase;
                &:hover{
                    border: 3px dotted #f6f2b3;
                }
            }
        }
    }
    .mouse_icon{
        width:25px;
        height:auto;
        left:0;
        right:0;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        bottom: 5px;
        margin: auto;
        position: absolute;
        z-index: 2;
        svg{
            .arrow_down{

                transition:0.5s all;
                opacity: 1;
                animation: mouse_arrow 1s linear infinite;
                &:first-child{


                }
                &:last-child{
                    animation-delay: 0.2s;
                }
            }
        }
    }
}



.daily_food{
    width:100%;
    margin: auto;
    position: relative;
    .top_row{
        .section_heading{
            text-transform: uppercase;
            font-family: comfortaabold;
            color:#6f756f;
            font-size: 1.8rem;
            letter-spacing: 2.5px;
            text-align: center;
            padding: 50px 0;
        }
        .days_carousel{
            margin:auto;

            .days{
                width:100%;
                display:inline-block;
                list-style: none;
                border-top: 1px solid #e5e5e5;
                .day{
                    text-align: center;
                    cursor: pointer;
                    float:left;
                    margin: auto;
                    transition: 0.5s all;
                    width: 20%;
                    color: #cdcecd;
                    font-family: comfortaabold;
                    position: relative;
                    box-sizing: border-box;
                    padding: 30px 20px;
                    &:before{
                        transition: 0.5s all;
                        content:"";
                        left:0;
                        border-radius: 5px;
                        position: absolute;
                        display: block;
                        height:3px;
                        background-color: #f6f2b3;
                        width:0;
                        top:-3px;
                    }
                    &.selected{
                        color: #2d2f2d;
                        &:before{ 
                            content:"";
                            left:0;
                            border-radius: 5px;
                            position: absolute;
                            display: block;
                            height:3px;
                            background-color: #f6f2b3;
                            width:100%;
                            top:-3px;
                        }
                    }
                    &:hover{
                        color: #2d2f2d;
                        &:before{ 
                            content:"";
                            left:0;
                            border-radius: 5px;
                            position: absolute;
                            display: block;
                            height:3px;
                            background-color: #f6f2b3;
                            width:100%;
                            top:-3px;
                        } 
                    }
                }
            }
        }
    }
    .fod_container{
        width:100%;
        height: auto;
        background-image: url('../img/offer_cower.jpg');
        background-size: cover;
        background-position: bottom center;
        .food_content{
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items:  flex-start;
            padding: 99px 25px;
            .food_short_desc{
                display: flex;
                width:100%;
                align-items: flex-start;
                justify-content: space-between;
                margin-bottom: 80px;
                .left_side{
                    width: 36%;
                    margin-top: 15px;
                    height: auto;
                    .modal_dashed{
                        width:100%;
                        height: auto;
                        position: relative;
                        padding: 60px 40px;
                        padding-top: 50px;
                        box-sizing: border-box;
                        border-left: 3px dashed #adfd00;
                        border-top: 3px dashed #adfd00;
                        border-bottom: 3px dashed #adfd00;
                        &:before{
                            content: "";
                            display: block;
                            width:0px;
                            height: 57px;
                            border-right: 3px dashed #adfd00;
                            position: absolute;
                            right:0; 
                            top:0;
                        }
                        &:after{
                            content: "";
                            display: block;
                            border-right: 3px dashed #adfd00;
                            position: absolute;
                            height: calc(100% - 147px);
                            width:0;
                            bottom:0;
                            right:0;
                        }
                        .costume_treangle{
                            position: absolute;
                            display: block;
                            width: 50px;
                            height: 90px;
                            right: -47px;
                            top:57px;
                            &:before{
                                content: "";
                                position: absolute;
                                top: 0;
                                width: 100%;
                                height: 1px;
                                right: 0;
                                border-top: 3px dashed #adfd00;
                                display: block;
                            }
                            &:after{
                                transform: rotate(28deg);
                                content: "";
                                position: absolute;
                                bottom: 0;
                                transform-origin: bottom;
                                margin: auto;
                                height: 107%;
                                left: 0;
                                width: 1px;
                                border-left: 3px dashed #adfd00;
                                display: block;
                            }
                        }
                        .content{
                            display:flex;
                            justify-content: flex-start;
                            align-items: flex-start;
                            flex-direction:column;
                            .small_heading{
                                font-family: comfortaabold;
                                font-size: 1.8rem;
                                max-width: 250px;
                                text-align: left;
                                color:#2d2f2d;
                                margin-bottom: 39px; 
                            }
                            .products_list{
                                padding-left: 18px;
                                width: 100%;
                                color:#000;
                                box-sizing: border-box;
                                .product{
                                    font-family: comfortaalight;
                                    margin-bottom: 14px;
                                    font-size: 1rem;
                                    letter-spacing: 0.7px;
                                    color:#2d2f2d;
                                }
                            }
                        }
                    }

                }
                .right_side{
                    width: 53.75%;
                    .small_offer{
                        width:100%;
                        position:relative;
                        p{
                            position:relative;
                            font-size: 1rem;
                            padding-bottom: 10px;
                            color:#000;
                            font-family: comfortaaregular;
                            display: inline-block;
                            margin-bottom: 30px;
                            &:after{
                                content: "";
                                position: absolute;
                                bottom:0;
                                display: block;
                                width:calc(100% + 15px);
                                height: 3px;
                                background-color: #f6f2b3;
                                border-radius: 5px;
                            }
                        }

                    }
                    .food_name{
                        font-family: comfortaabold;
                        text-align: left;
                        font-size: 1.8rem;
                        color: #000;
                        max-width: 550px;
                        margin-bottom: 60px;
                    }
                    .nice_price{
                        font-family: comfortaabold;
                        font-size: 5rem;
                        color: #adfd00;
                        .valute{
                            font-size: 3rem;
                            color:#2d2f2d;
                        }
                        margin-bottom: 48px;
                    }
                    .offer_actions{
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        width:100%;
                        .button{
                            font-size:1rem;
                            padding: 13px 48px;
                            cursor: pointer;
                            transition: 0.5s all;
                            text-transform: uppercase;
                            font-family: comfortaalight;
                            &.get_it{
                                margin-right: 26px;
                                background-color: #1a202a;
                                color:#adfd00;
                                &:hover{
                                    color:  #1a202a;
                                    background-color: #adfd00;
                                }
                            }
                            &.show_menu{
                                padding-left: 82px;
                                position:relative;
                                color: #000;

                                .ico{
                                    position: absolute;
                                    width: 35px;
                                    top: 0;
                                    transition: 0.5s all;
                                    bottom:0;
                                    margin: auto;
                                    left: 28px;
                                    svg{
                                        top: 0;
                                        margin: auto;
                                        transition: 0.5s all;
                                        bottom:10%;
                                        position: absolute;
                                        path{
                                            transition: 0.5s all;
                                            fill:none;
                                            stroke:#000000;
                                            stroke-width:20;
                                            stroke-miterlimit:10;
                                        }
                                        circle{
                                            fill:none;
                                            stroke:#000000;
                                            stroke-width:20;
                                            stroke-miterlimit:10;
                                            transition: 0.5s all;
                                        }
                                    }
                                }
                                &:hover{
                                    background-color: #1a202a;
                                    color:#adfd00;
                                    .ico{
                                        svg{
                                            path{
                                                stroke: #adfd00;
                                            }   
                                            circle{
                                                stroke: #adfd00;
                                            }  
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .bottom_desc{
                font-size: 0.9rem;
                color: #000;
                font-family: comfortaalight;
                letter-spacing: 0.8px;
            }
        }
    }
}
.reserwation_section{
    width:100%;
    height: auto;
    background-image: url('../img/bottom_section_cover.jpg');
    background-size: cover;
    background-position: bottom center;
    padding: 120px 0;
    .content{
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction:column;
        .section_heading{
            text-align: center;
            font-family: comfortaabold;
            font-size: 2rem;
            text-align: center;
            color: #fff;
            position: relative;
            padding-bottom: 40px;
            margin-bottom: 28px;
            &:after{
                position: absolute;
                content: "";
                display: block;
                width:232px;
                height:3px;
                border-radius: 50px;
                background-color: #adfd00;
                bottom:0;
                left:0;
                right:0;
                margin: auto;
            }
        }
        .small_desc{
            color: #fff;
            text-align: center;
            font-size: 1rem;
            font-family: comfortaabold;
            margin-bottom: 60px;
        }
        .actions_blocks{
            width:100%;
            height: auto;
            display: flex;
            justify-content: space-around;
            align-items: flex-start;
            .block{
                width: 25%;
                display:flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .thumb_ico{
                    width: 105px;
                    margin-bottom: 25px;
                }
                .title{
                    color:#f6f2b3;
                    font-size: 1.2rem;
                    .number{
                        font-size: 1.5rem;
                        color: #fff;
                        font-family: comfortaabold;
                    }
                    margin-bottom: 46px;
                }
                .actions{
                     width: 100%;
                    .restaurant_tables{
                         width: 100%;
                        .tables_container{
                            width: 100%;
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            flex-wrap: wrap;
                            .table{
                                width:calc(12% - 2px);
                                margin-right:10%;
                                height: 33px;
                                border: 1px solid #fff;
                                border-radius: 4px;
                                margin-bottom: 5px;
                                &:nth-child(5n){
                                    margin-right: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}