/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 4, 2017, 12:57:29 PM
    Author     : odwini
*/
header.oliwary_main {
  min-height: 100%;
  width: 100%;
  height: 100%; }
  header.oliwary_main .header_cover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center; }
  header.oliwary_main .content {
    position: relative;
    top: 35%;
    transform: translateY(-50%);
    margin: auto;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    header.oliwary_main .content .top_row_info {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 45px; }
      header.oliwary_main .content .top_row_info .delimer {
        color: #fff; }
      header.oliwary_main .content .top_row_info .info {
        font-family: comfortaalight;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: #fff;
        letter-spacing: 1.6px;
        font-size: 1.2rem; }
        header.oliwary_main .content .top_row_info .info span {
          font-family: comfortaalight;
          color: #C4D64B; }
        header.oliwary_main .content .top_row_info .info .ico {
          width: 25px;
          position: relative;
          margin-right: 10px;
          height: 25px;
          background-size: contain;
          background-position: center center;
          background-repeat: no-repeat; }
        header.oliwary_main .content .top_row_info .info:first-child {
          margin-right: 15px; }
        header.oliwary_main .content .top_row_info .info:last-child {
          margin-left: 15px; }
    header.oliwary_main .content_title {
      font-size: 3rem;
      font-family: comfortaabold;
      text-align: center;
      color: #fff;
      margin-bottom: 25px; }
      header.oliwary_main .content_title h2 {
        color: #fff; }
    header.oliwary_main .content_description {
      margin-bottom: 50px; }
      header.oliwary_main .content_description p {
        text-align: center;
        max-width: 500px;
        color: #fff;
        font-size: 1.1rem;
        font-family: comfortaalight; }
    header.oliwary_main .content .action_buttons {
      display: flex;
      justify-content: space-between;
      max-width: 450px;
      width: 100%;
      margin: auto;
      position: relative; }
      header.oliwary_main .content .action_buttons .button_header {
        color: #f6f2b3;
        background-color: rgba(6, 11, 17, 0.6);
        letter-spacing: 2px;
        padding: 20px 40px;
        font-family: comfortaaregular;
        font-size: 1.2rem;
        cursor: pointer;
        transition: 0.5s all;
        border-radius: 5px;
        box-sizing: border-box;
        border: 3px dotted transparent;
        text-transform: uppercase; }
        header.oliwary_main .content .action_buttons .button_header:hover {
          border: 3px dotted #f6f2b3; }
  header.oliwary_main .mouse_icon {
    width: 25px;
    height: auto;
    left: 0;
    right: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    bottom: 5px;
    margin: auto;
    position: absolute;
    z-index: 2; }
    header.oliwary_main .mouse_icon svg .arrow_down {
      transition: 0.5s all;
      opacity: 1;
      animation: mouse_arrow 1s linear infinite; }
      header.oliwary_main .mouse_icon svg .arrow_down:last-child {
        animation-delay: 0.2s; }

.daily_food {
  width: 100%;
  margin: auto;
  position: relative; }
  .daily_food .top_row .section_heading {
    text-transform: uppercase;
    font-family: comfortaabold;
    color: #6f756f;
    font-size: 1.8rem;
    letter-spacing: 2.5px;
    text-align: center;
    padding: 50px 0; }
  .daily_food .top_row .days_carousel {
    margin: auto; }
    .daily_food .top_row .days_carousel .days {
      width: 100%;
      display: inline-block;
      list-style: none;
      border-top: 1px solid #e5e5e5; }
      .daily_food .top_row .days_carousel .days .day {
        text-align: center;
        cursor: pointer;
        float: left;
        margin: auto;
        transition: 0.5s all;
        width: 20%;
        color: #cdcecd;
        font-family: comfortaabold;
        position: relative;
        box-sizing: border-box;
        padding: 30px 20px; }
        .daily_food .top_row .days_carousel .days .day:before {
          transition: 0.5s all;
          content: "";
          left: 0;
          border-radius: 5px;
          position: absolute;
          display: block;
          height: 3px;
          background-color: #f6f2b3;
          width: 0;
          top: -3px; }
        .daily_food .top_row .days_carousel .days .day.selected {
          color: #2d2f2d; }
          .daily_food .top_row .days_carousel .days .day.selected:before {
            content: "";
            left: 0;
            border-radius: 5px;
            position: absolute;
            display: block;
            height: 3px;
            background-color: #f6f2b3;
            width: 100%;
            top: -3px; }
        .daily_food .top_row .days_carousel .days .day:hover {
          color: #2d2f2d; }
          .daily_food .top_row .days_carousel .days .day:hover:before {
            content: "";
            left: 0;
            border-radius: 5px;
            position: absolute;
            display: block;
            height: 3px;
            background-color: #f6f2b3;
            width: 100%;
            top: -3px; }
  .daily_food .fod_container {
    width: 100%;
    height: auto;
    background-image: url("../img/offer_cower.jpg");
    background-size: cover;
    background-position: bottom center; }
    .daily_food .fod_container .food_content {
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      padding: 99px 25px; }
      .daily_food .fod_container .food_content .food_short_desc {
        display: flex;
        width: 100%;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 80px; }
        .daily_food .fod_container .food_content .food_short_desc .left_side {
          width: 36%;
          margin-top: 15px;
          height: auto; }
          .daily_food .fod_container .food_content .food_short_desc .left_side .modal_dashed {
            width: 100%;
            height: auto;
            position: relative;
            padding: 60px 40px;
            padding-top: 50px;
            box-sizing: border-box;
            border-left: 3px dashed #adfd00;
            border-top: 3px dashed #adfd00;
            border-bottom: 3px dashed #adfd00; }
            .daily_food .fod_container .food_content .food_short_desc .left_side .modal_dashed:before {
              content: "";
              display: block;
              width: 0px;
              height: 57px;
              border-right: 3px dashed #adfd00;
              position: absolute;
              right: 0;
              top: 0; }
            .daily_food .fod_container .food_content .food_short_desc .left_side .modal_dashed:after {
              content: "";
              display: block;
              border-right: 3px dashed #adfd00;
              position: absolute;
              height: calc(100% - 147px);
              width: 0;
              bottom: 0;
              right: 0; }
            .daily_food .fod_container .food_content .food_short_desc .left_side .modal_dashed .costume_treangle {
              position: absolute;
              display: block;
              width: 50px;
              height: 90px;
              right: -47px;
              top: 57px; }
              .daily_food .fod_container .food_content .food_short_desc .left_side .modal_dashed .costume_treangle:before {
                content: "";
                position: absolute;
                top: 0;
                width: 100%;
                height: 1px;
                right: 0;
                border-top: 3px dashed #adfd00;
                display: block; }
              .daily_food .fod_container .food_content .food_short_desc .left_side .modal_dashed .costume_treangle:after {
                transform: rotate(28deg);
                content: "";
                position: absolute;
                bottom: 0;
                transform-origin: bottom;
                margin: auto;
                height: 107%;
                left: 0;
                width: 1px;
                border-left: 3px dashed #adfd00;
                display: block; }
            .daily_food .fod_container .food_content .food_short_desc .left_side .modal_dashed .content {
              display: flex;
              justify-content: flex-start;
              align-items: flex-start;
              flex-direction: column; }
              .daily_food .fod_container .food_content .food_short_desc .left_side .modal_dashed .content .small_heading {
                font-family: comfortaabold;
                font-size: 1.8rem;
                max-width: 250px;
                text-align: left;
                color: #2d2f2d;
                margin-bottom: 39px; }
              .daily_food .fod_container .food_content .food_short_desc .left_side .modal_dashed .content .products_list {
                padding-left: 18px;
                width: 100%;
                color: #000;
                box-sizing: border-box; }
                .daily_food .fod_container .food_content .food_short_desc .left_side .modal_dashed .content .products_list .product {
                  font-family: comfortaalight;
                  margin-bottom: 14px;
                  font-size: 1rem;
                  letter-spacing: 0.7px;
                  color: #2d2f2d; }
        .daily_food .fod_container .food_content .food_short_desc .right_side {
          width: 53.75%; }
          .daily_food .fod_container .food_content .food_short_desc .right_side .small_offer {
            width: 100%;
            position: relative; }
            .daily_food .fod_container .food_content .food_short_desc .right_side .small_offer p {
              position: relative;
              font-size: 1rem;
              padding-bottom: 10px;
              color: #000;
              font-family: comfortaaregular;
              display: inline-block;
              margin-bottom: 30px; }
              .daily_food .fod_container .food_content .food_short_desc .right_side .small_offer p:after {
                content: "";
                position: absolute;
                bottom: 0;
                display: block;
                width: calc(100% + 15px);
                height: 3px;
                background-color: #f6f2b3;
                border-radius: 5px; }
          .daily_food .fod_container .food_content .food_short_desc .right_side .food_name {
            font-family: comfortaabold;
            text-align: left;
            font-size: 1.8rem;
            color: #000;
            max-width: 550px;
            margin-bottom: 60px; }
          .daily_food .fod_container .food_content .food_short_desc .right_side .nice_price {
            font-family: comfortaabold;
            font-size: 5rem;
            color: #adfd00;
            margin-bottom: 48px; }
            .daily_food .fod_container .food_content .food_short_desc .right_side .nice_price .valute {
              font-size: 3rem;
              color: #2d2f2d; }
          .daily_food .fod_container .food_content .food_short_desc .right_side .offer_actions {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 100%; }
            .daily_food .fod_container .food_content .food_short_desc .right_side .offer_actions .button {
              font-size: 1rem;
              padding: 13px 48px;
              cursor: pointer;
              transition: 0.5s all;
              text-transform: uppercase;
              font-family: comfortaalight; }
              .daily_food .fod_container .food_content .food_short_desc .right_side .offer_actions .button.get_it {
                margin-right: 26px;
                background-color: #1a202a;
                color: #adfd00; }
                .daily_food .fod_container .food_content .food_short_desc .right_side .offer_actions .button.get_it:hover {
                  color: #1a202a;
                  background-color: #adfd00; }
              .daily_food .fod_container .food_content .food_short_desc .right_side .offer_actions .button.show_menu {
                padding-left: 82px;
                position: relative;
                color: #000; }
                .daily_food .fod_container .food_content .food_short_desc .right_side .offer_actions .button.show_menu .ico {
                  position: absolute;
                  width: 35px;
                  top: 0;
                  transition: 0.5s all;
                  bottom: 0;
                  margin: auto;
                  left: 28px; }
                  .daily_food .fod_container .food_content .food_short_desc .right_side .offer_actions .button.show_menu .ico svg {
                    top: 0;
                    margin: auto;
                    transition: 0.5s all;
                    bottom: 10%;
                    position: absolute; }
                    .daily_food .fod_container .food_content .food_short_desc .right_side .offer_actions .button.show_menu .ico svg path {
                      transition: 0.5s all;
                      fill: none;
                      stroke: #000000;
                      stroke-width: 20;
                      stroke-miterlimit: 10; }
                    .daily_food .fod_container .food_content .food_short_desc .right_side .offer_actions .button.show_menu .ico svg circle {
                      fill: none;
                      stroke: #000000;
                      stroke-width: 20;
                      stroke-miterlimit: 10;
                      transition: 0.5s all; }
                .daily_food .fod_container .food_content .food_short_desc .right_side .offer_actions .button.show_menu:hover {
                  background-color: #1a202a;
                  color: #adfd00; }
                  .daily_food .fod_container .food_content .food_short_desc .right_side .offer_actions .button.show_menu:hover .ico svg path {
                    stroke: #adfd00; }
                  .daily_food .fod_container .food_content .food_short_desc .right_side .offer_actions .button.show_menu:hover .ico svg circle {
                    stroke: #adfd00; }
      .daily_food .fod_container .food_content .bottom_desc {
        font-size: 0.9rem;
        color: #000;
        font-family: comfortaalight;
        letter-spacing: 0.8px; }

.reserwation_section {
  width: 100%;
  height: auto;
  background-image: url("../img/bottom_section_cover.jpg");
  background-size: cover;
  background-position: bottom center;
  padding: 120px 0; }
  .reserwation_section .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .reserwation_section .content .section_heading {
      text-align: center;
      font-family: comfortaabold;
      font-size: 2rem;
      text-align: center;
      color: #fff;
      position: relative;
      padding-bottom: 40px;
      margin-bottom: 28px; }
      .reserwation_section .content .section_heading:after {
        position: absolute;
        content: "";
        display: block;
        width: 232px;
        height: 3px;
        border-radius: 50px;
        background-color: #adfd00;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto; }
    .reserwation_section .content .small_desc {
      color: #fff;
      text-align: center;
      font-size: 1rem;
      font-family: comfortaabold;
      margin-bottom: 60px; }
    .reserwation_section .content .actions_blocks {
      width: 100%;
      height: auto;
      display: flex;
      margin-bottom: 100px;
      justify-content: space-around;
      align-items: flex-start; }
      .reserwation_section .content .actions_blocks .block {
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        .reserwation_section .content .actions_blocks .block .thumb_ico {
          width: 90px;
          margin-bottom: 25px; }
        .reserwation_section .content .actions_blocks .block .title {
          color: #f6f2b3;
          font-family: comfortaabold;
          width: 100%;
          text-transform: uppercase;
          text-align: left;
          font-size: 1.2rem;
          margin-bottom: 46px; }
          .reserwation_section .content .actions_blocks .block .title .number {
            font-size: 1.5rem;
            color: #fff;
            font-family: comfortaabold; }
        .reserwation_section .content .actions_blocks .block .actions {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center; }
          .reserwation_section .content .actions_blocks .block .actions .restaurant_tables {
            width: 100%;
            margin-bottom: 15px; }
            .reserwation_section .content .actions_blocks .block .actions .restaurant_tables .tables_container {
              width: 235px;
              margin: auto;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              flex-wrap: wrap; }
              .reserwation_section .content .actions_blocks .block .actions .restaurant_tables .tables_container .table {
                width: 33px;
                margin-right: 15px;
                height: 33px;
                position: relative;
                border: 1px solid #fff;
                cursor: pointer;
                border-radius: 4px;
                margin-bottom: 15px; }
                .reserwation_section .content .actions_blocks .block .actions .restaurant_tables .tables_container .table:nth-child(5n) {
                  margin-right: 0; }
                .reserwation_section .content .actions_blocks .block .actions .restaurant_tables .tables_container .table.active:before {
                  position: absolute;
                  top: 0;
                  content: "";
                  display: block;
                  background-color: #adfd00;
                  bottom: 0;
                  left: 0;
                  right: 0;
                  margin: auto;
                  width: 13px;
                  height: 13px;
                  border-radius: 50px; }
          .reserwation_section .content .actions_blocks .block .actions .button {
            padding: 17px 32px;
            display: inline-block;
            position: relative;
            box-sizing: border-box;
            margin-bottom: 39px;
            border-radius: 5px;
            cursor: pointer;
            border: 3px dotted #f6f2b3;
            /*                        .round_border{
                                        span:before,
                                            span:after{
                                            content: "";
                                            display:block;
                                            position: absolute;
                                            margin: auto;
                                            background-image: url(../img/dotted_border.png);
                                            background-size: contain;
                                            background-position: center center;
                                        }
                                        span:first-child{
                                            &:before{
                                                width: 5px;
                                                height: 100%;
                                                bottom:0;
                                                left:-1px;
                                                background-position: center center;
                                            }
                                            &:after{
                                                height: 5px;
                                                width: 100%;
                                                top:-1px;
                                                left:0;
                                                background-repeat: repeat-x;
                                                right:0;
                                                margin: auto;
                                                background-position: center center;
                                            }
                                        }
                                        span:last-child{
                                            &:before{
            
                                            }
                                            &:after{
            
                                            }
                                        }
                                    }*/ }
            .reserwation_section .content .actions_blocks .block .actions .button .text {
              color: #f6f2b3;
              text-transform: uppercase; }
            .reserwation_section .content .actions_blocks .block .actions .button:hover {
              border-color: #adfd00; }
              .reserwation_section .content .actions_blocks .block .actions .button:hover .text {
                color: #adfd00; }
          .reserwation_section .content .actions_blocks .block .actions .clock {
            width: 238px; }
            .reserwation_section .content .actions_blocks .block .actions .clock .arrow {
              width: 10%; }
            .reserwation_section .content .actions_blocks .block .actions .clock .top {
              display: flex;
              justify-content: center;
              align-items: center;
              margin-bottom: 24px; }
              .reserwation_section .content .actions_blocks .block .actions .clock .top .content {
                width: 80%;
                display: block; }
                .reserwation_section .content .actions_blocks .block .actions .clock .top .content .item {
                  width: 30%;
                  color: #404245;
                  font-size: 1.2rem;
                  text-align: center;
                  line-height: 1.5rem;
                  text-transform: uppercase;
                  font-family: comfortaabold;
                  float: left; }
                  .reserwation_section .content .actions_blocks .block .actions .clock .top .content .item.current {
                    width: 40%;
                    color: #fff;
                    font-size: 1.4rem; }
            .reserwation_section .content .actions_blocks .block .actions .clock .bottom {
              display: flex;
              justify-content: center;
              align-items: center;
              margin-bottom: 50px; }
              .reserwation_section .content .actions_blocks .block .actions .clock .bottom .content {
                width: 80%;
                display: block; }
                .reserwation_section .content .actions_blocks .block .actions .clock .bottom .content .item {
                  width: 30%;
                  font-size: 1.2rem;
                  color: #404245;
                  font-family: comfortaabold;
                  float: left;
                  line-height: 1.5rem;
                  text-align: center; }
                  .reserwation_section .content .actions_blocks .block .actions .clock .bottom .content .item.current {
                    width: 40%;
                    text-transform: uppercase;
                    color: #fff;
                    font-size: 1.4rem; }
    .reserwation_section .content .confirm_container .confirm_button {
      text-align: center;
      display: inline-block;
      margin: auto;
      border-radius: 5px;
      border: 3px dotted #404245;
      color: #404245;
      position: relative;
      padding: 17px 32px; }

.grape_about_us .content {
  position: relative;
  height: 800px;
  padding: 90px; }
  .grape_about_us .content .grape_photo {
    width: auto;
    position: absolute;
    left: -10%;
    top: 0;
    height: 80%;
    bottom: 0;
    margin: auto; }
    .grape_about_us .content .grape_photo img {
      height: 100%;
      width: auto; }
  .grape_about_us .content .squares {
    position: absolute;
    left: 0;
    right: 0;
    width: 80%;
    margin: auto;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center; }
    .grape_about_us .content .squares .content_squares {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%; }
      .grape_about_us .content .squares .content_squares .central_square {
        width: 100%;
        position: absolute;
        height: 100%;
        left: 97px;
        top: 77px;
        background-color: #181d27;
        box-shadow: -7px 10px 32px -5px #181d27; }
      .grape_about_us .content .squares .content_squares .content_sqare {
        position: relative;
        width: 50%;
        z-index: 2;
        height: auto;
        margin: 30px 0;
        margin-right: auto;
        padding: 31px 70px;
        box-sizing: border-box;
        background-color: #fff;
        box-shadow: -7px 10px 32px -5px #181d27; }
        .grape_about_us .content .squares .content_squares .content_sqare .logo_small {
          padding: 43px 80px;
          border-top: 2px solid #f6f2b3;
          box-sizing: border-box; }
        .grape_about_us .content .squares .content_squares .content_sqare h2 {
          font-size: 1.8rem;
          color: #000;
          text-align: center;
          display: inline-block;
          position: relative;
          font-family: comfortaabold;
          padding: 25px 0;
          letter-spacing: 1px;
          border-top: 2px solid #f6f2b3;
          border-bottom: 2px solid #f6f2b3;
          margin: auto;
          left: 50%;
          transform: translateX(-50%); }
        .grape_about_us .content .squares .content_squares .content_sqare .content_text {
          padding: 28px 21px;
          color: #938e8e;
          font-size: 1rem;
          text-align: center; }
        .grape_about_us .content .squares .content_squares .content_sqare .arrow_go {
          position: absolute;
          bottom: 31px;
          right: 46px;
          width: 24px;
          height: 24px;
          margin: auto; }
          .grape_about_us .content .squares .content_squares .content_sqare .arrow_go a {
            width: 100%;
            height: 100%;
            display: block;
            position: relative; }
            .grape_about_us .content .squares .content_squares .content_sqare .arrow_go a div {
              width: 100%;
              height: 2px;
              background-color: #000;
              position: absolute;
              top: 0;
              border-radius: 5px;
              bottom: 0;
              margin: auto;
              left: 0; }
              .grape_about_us .content .squares .content_squares .content_sqare .arrow_go a div:before {
                content: "";
                display: block;
                width: 40%;
                height: 2px;
                background-color: #000;
                position: absolute;
                top: 0;
                bottom: 0;
                border-radius: 5px;
                right: 1px;
                transform-origin: right;
                transform: rotate(-35deg); }
              .grape_about_us .content .squares .content_squares .content_sqare .arrow_go a div:after {
                content: "";
                display: block;
                border-radius: 5px;
                width: 40%;
                height: 2px;
                background-color: #000;
                position: absolute;
                top: 0;
                bottom: 0;
                right: 1px;
                transform-origin: right;
                transform: rotate(35deg); }
      .grape_about_us .content .squares .content_squares .image_sqare {
        width: 51%;
        z-index: 2;
        position: absolute;
        height: 100%;
        right: 0;
        box-shadow: -7px 10px 32px -5px #181d27;
        background-image: url(../img/cover_aboutus.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat; }

/*# sourceMappingURL=template.css.map */
